/* ==============================================================================================================
                                        Navbar
============================================================================================================== */
nav{
    height: 10rem;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s linear;

    font-family: 'Rajdhani', sans-serif; 

    display: flex;
    // justify-content: center;
    // align-items: center;
    flex-direction: column;
/* ==============================================================================================================
                                        Visible Navbar
============================================================================================================== */    
    .visible_navbar{        
        height: 10rem;
        width: 100%;

        display:flex;
        justify-content: space-between;
        align-items:center;
        padding: 0 10rem;

        // position: absolute;
        // top: 0;
        // left: 0;
/* ==============================================================================================================
                                        Toggle Btn
============================================================================================================== */
        .nav_toggle_btn{
            height: 100%;
            width: 5rem;
            background-color: #000;
        
            position: relative;
        
            display:flex;
            justify-content:center;
            align-items:center;
        
            cursor: pointer;
            z-index: 10;
        }
        .nav_toggle_btn::before{
            content: '';
            position: absolute;
        
            width: 3.5rem;
            height: 4px;
            background-color: #fff; 
            transform: translateY(-10px);   
            box-shadow: 0 10px #fff;
        
            transition: all 0.5s linear;
        }
        .nav_toggle_btn::after{
            content: '';
            position: absolute;
        
            width: 3.5rem;
            height: 4px;
            background-color: #fff; 
            transform: translateY(10px); 
        
            transition: all 0.5s linear;
        }
/* ==============================================================================================================
                                        Nav Title
============================================================================================================== */
        .nav_title{
            display:flex;
            justify-content:center;
            align-items:center;
            flex-direction: column;

            h1{
                font-size: 4rem;
                letter-spacing: 0.2rem;
            }
        }
/* ==============================================================================================================
                                        Nav Else Part
============================================================================================================== */   
        .nav_else_part{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
    
            .slab{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                z-index: 10;
                font-size: 2.5rem;
                transition: transform 0.5s;
                
                span{
                    font-size: 2rem;
                    cursor: pointer;
                }
                // span:hover{
                //     font-weight: bolder;
                // }
            }
            .slab:hover{
                transform: scale(0.9);
                font-weight: bolder;
                
            }
        }
    }
/* ==============================================================================================================
                                        Hidden Nav
============================================================================================================== */
    .hidden_nav{
        height: 0rem;
        width: 100%;
        transition: all 0.5s linear;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center; 

        // position: relative;
        // margin-top: 10rem;

        .hidden_nav_container{
            height: 100%;
            width: 100%;
            padding: 5rem 10rem; 

            gap: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
/* ==============================================================================================================
                                        Hidden Nav Left
============================================================================================================== */
            
            .left{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                gap: 2rem;
        
                a{
                    font-size: 3rem;
                    z-index: 10;
                    cursor: pointer;
                    white-space: nowrap;
                    font-weight: bolder;
                }

                .nav_op.active{
                    color: #ffca3a;  
                    font-weight: bolder;  
                }                

            }
            .leftSm{
                display: none;
                align-items: flex-start;

                .nav_op{
                    color: #000;
                }
                .nav_op.active{
                    color: #ffca3a;  
                    font-weight: bolder;  
                } 
                
                .sm_nav_op_data{
                    display: none;

                    p{
                        // text-indent: 8rem;
                        font-size: 2.5rem;
                        white-space: normal;  
                        text-transform: capitalize;                  
                    }

                }
                .sm_nav_op_data.active{
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                }

            }
/* ==============================================================================================================
                                        Hidden Nav Right
============================================================================================================== */
            .right{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .nav_op_data{
                    display: none;
                }

                .nav_op_data.active{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 2rem;
                }
    
                p{
                    // text-indent: 8rem;
                    font-size: 2.5rem;
                    white-space: normal;  
                    text-transform: capitalize;                  
                }
            }
        }

    }
    
}
/* ==============================================================================================================
                                        Nav Active
============================================================================================================== */
nav.active{
    height: auto;
    min-height: 65rem;

    transition: height 0.5s;
    
    .nav_toggle_btn::before{
        transform: translateY(0px) rotate(-45deg);
        box-shadow: none;
    }

    .nav_toggle_btn::after{
        transform: translateY(0px) rotate(45deg);
    }

    .hidden_nav{
        // height: 100%;  
        height: auto;
        min-height: 65rem;
        transition: all 0.5s linear;

        // background-color: aqua;
         
    }

}
/* ==============================================================================================================
                                        Visible Nav Media Query
============================================================================================================== */
@media (max-width: 940px) {
    nav{
        .visible_navbar{
            .nav_else_part{
                .slab span{
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1150px) {
    nav{
        .visible_navbar{
            padding: 0 5rem;
        }
    }
}

@media (max-width: 640px) {
    nav{
        .visible_navbar{
            .nav_else_part{
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 500px) {
    nav{
        .visible_navbar{
            justify-content: space-around;
            padding: 0;
            .nav_else_part{
                display: none;
            }
        }
    }
}
/* ==============================================================================================================
                                        Hidden Nav Active
============================================================================================================== */
@media (max-width: 1150px) {
    nav{
        .hidden_nav{
            .hidden_nav_container{
                padding: 5rem;
                
                .right{
                    .nav_op_data{
                        p{
                            font-size: 2.3rem;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 890px) {
    nav{
        .hidden_nav{
            .hidden_nav_container{
                .left {
                    display: none;
                }
                .right{
                    display: none;
                }
                .leftSm{
                    display: flex;
    
                }
            }
        }
    }
}
@media (max-width: 600px) {
    nav{
        .hidden_nav{
            .hidden_nav_container{
                .leftSm{
                    .sm_nav_op_data p{
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}